
@import url('https://fonts.googleapis.com/css?family=Song+Myung');

body{
	font-family: "Song Myung";
	margin: -15px;
}

#main{
	margin-top: 25px;
}

/*menu*/
#menu ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

#menu ul li{
	margin-right: 15px;
}


/*sobre mim*/

#imagem a img{
	width: 100%;
	height: 250px;
}

#sobre-mim{
	background-color: pink;
	padding: 5px;
}

#sobre-mim, #portfolio, #contato{
	padding-top: 20px;
	padding-bottom: 20px;
}

/*portfolio*/

#portfolio div div>img{
	margin-top: 20px;
}