
@import url('https://fonts.googleapis.com/css?family=Song+Myung');

html{
	width: 100%;
	height: 100%;
}

body{
	font-family: "Song Myung";
	margin-bottom: 100px;
	margin: 0;
	padding: 0;

}


h1, h2{
	text-align: left;
	font-size: 2em;
}

/*menu*/

#menu ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	margin-left: -25px;
}

#menu ul li{
	margin-right: 10px;
}

#menu ul li a{
	color: black;
	text-decoration: none;
}


/*sobre mim*/

#imagem a img{
	width: 100%;
	min-height: 200px;
}

#sobre-mim{
	background-color: rgba(219,112,147, 0.8);
	text-align: justify;
}

#sobre-mim, #portfolio, #contato, #links{
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*portfolio*/

#portfolio div div>a>img{
	margin-top: 20px;
}

/*contato*/

#contato{
	background-color: rgba(102, 51, 0,0.7);
}

#contato div div form{
	text-align: center;
}



#contato div div form>input, #contato div div form>textarea{
	width: 100%;
	max-width: 450px;
}

#contato div div form>textarea{
	height: 100px;
}

#contato div div form button{
	background-color: black;
	color: white;
	border-style: none;
}

/*links*/


#links ul{
	display: flex;
	flex-direction: row;

}

#links ul li{
	list-style-type: none;
	margin-right: 25px;
}

#links ul li a{
	color: black;
	font-size: 38px;
}

#links ul li a:hover{
	color: rgba(219,112,147, 0.8);
	text-decoration: none;
}

.hide{
	display: none;
}



@media screen and (min-width: 768px){

	/*menu*/
	#menu ul{
		flex-direction: column;
		margin-top: 30px;
		text-align: right;
	}

	#menu ul li{
		margin-bottom: 20px;
	}

	#links{
		margin-top: 10px;
	}

	#links ul{
		flex-direction: column;
		margin-top: 20px;
	}

	/*redes sociais*/
	#links ul li{
		margin-bottom: 20px;

	}

	#links h2{
		font-size: 1em;
	}
}


