

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html{
	background-color: #f4f2f1;
}

/*nav*/
nav{
	
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #f4f2f1;
	
}

nav ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: flex-end;
}

nav ul li a{
	color: #63594f;
	text-transform: uppercase;
	padding-right: 10px;

}

/*rebeca*/
div.principal-rebeca{
	background-color: #f4f2f1;
	padding-top: 25px;
	padding-bottom: 25px;
}

div#foto-rebeca{
	width: 200px;
	height: 200px;
	background-color: black;
	display: inline-block;
}

img.rebeca{
	margin-left: -170px;
	margin-top: -130px;
}

div.texto-rebeca{
	padding-top: 20px;
}

div.texto-rebeca h1{
	font-family: "Playfair Display";
	font-size: 4em;

}

/*sobre*/

div.sobre-mim{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #0d293f;
	color: #eaeaea;
}

div.texto-sobre h2{
	font-family: "Playfair Display";
}

div.texto-sobre h5{
	font-weight: 400;
}

div.imagem-sobre img{
	width: 250px;
}