
@import url('https://fonts.googleapis.com/css?family=Lora');

div#conteudo{
	min-height: 1000px;
}

/*nav*/
nav{
	text-align: center;
	margin-top: 30px;
}


nav ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

nav ul li{

	list-style: none;
	margin-right: 15px;
	
}

/*jk rowling*/

div#jkrowling{
	height: 300px;
	text-align: center;
	background-image: url(imagens/castle.jpeg);
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}

div#jkrowling h1{
	padding-top: 100px;
	font-family: Lora;
}


/*hp store*/

div#hpstore{
	height: 300px;
}

div#hpstore a{
	display: block;
	height: 300px;
	background-image: url(imagens/hogwarts.jpg);
	background-size: cover;
	background-position: center;
}

/*sobre*/

div#sobre img{
	margin-top: 100px;
}

/*livros*/

ul#lista-livros{
	list-style: none;
	

}

/*footer*/

footer{
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	color: white;
}