
@import url('https://fonts.googleapis.com/css?family=Lora');

div#conteudo{
	min-height: 800px;
}

/*nav*/
nav{
	text-align: center;
	margin-top: 30px;
}


nav ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

nav ul li{

	list-style: none;
	margin-right: 15px;
	
}

/*jk rowling*/

div#jkrowling{
	height: 300px;
	text-align: center;
	background-image: url(imagens/castle.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}

div#jkrowling h1{
	padding-top: 100px;
	font-family: Lora;
	font-size: 4em;

}

div#jkrowling h1 a{
	color: white;
	font-weight: 900;
	text-shadow: 2px 2px 2px gray;
}


/*hp store*/

div#hpstore{
	height: 300px;
	background-image: url(imagens/hogwarts.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	margin-bottom: 10px;
}

div#hpstore h2{
	padding-top: 20px;
	font-family: Lora;
}

div#hpstore h2 a{
	color: white;
	font-weight: 900;
	text-shadow: 2px 2px 2px gray;
	
}


/*tour studio*/

div#tourstudio{
	height: 300px;
	background-image: url(imagens/oxford.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

div#tourstudio h2{
	padding-top: 150px;
	font-family: Lora;
}

div#tourstudio h2 a{
	color: white;
	font-weight: 900;
	text-shadow: 2px 2px 2px gray;
	
}


/*sobre*/

div#sobre img{
	margin-top: 100px;
}

/*livros*/

ul#lista-livros{
	list-style: none;
	

}

/*footer*/

footer{
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	color: white;
}