
body{
	margin-top: 50px;
}

/*navbar*/
nav{
	margin-top: 50px;
}
/*imagem navbar*/

.imagem-rebeca{
	display: block;
	margin: auto;
}

/*sobre mim*/
#sobre-mim, #portfolio, #contato{
	margin-top: 50px;
	padding-top: 10px;
}

/*portfolio*/

div#portfolio div.row{
	margin-bottom: 20px;
}