

/*quem sou eu*/

div#quemSouEu{
	background-color: rgba(255,0,0,0.4);
	padding-top: 50px;
	padding-bottom: 50px;
}

div#quemSouEu h1, div#quemSouEu h2{
	text-align: center;
}

div#quemSouEu h2{
	margin-top: 50px;
}