
body{
	margin-top: 50px;
}

/*navbar*/
nav{
	margin-top: 50px;
}
/*imagem navbar*/

.imagem-rebeca{
	display: block;
	margin: auto;
}

/*sobre mim*/
#sobre-mim, #portfolio, #contato{
	margin-top: 50px;
	padding-top: 10px;
}

/*portfolio*/

div#portfolio div.row div{
	margin-bottom: 20px;
}

.img-maior{
	box-shadow: 10px 10px 10px rgb(155, 149, 149);
	-webkit-transform: scale(1.15);
	/* Safari and Chrome */
	-moz-transform: scale(1.15);
	/* Firefox */
	-ms-transform: scale(1.15);
	/* IE 9 */
	-o-transform: scale(1.15);
	/* Opera */
	transform: scale(1.15);
}


/*contato*/

#contato ul{
	display: flex;
	flex-direction: row;

}

#contato ul li{
	list-style-type: none;
	margin-right: 25px;
}

#contato ul li a{
	color: black;
	font-size: 50px;
}

#contato ul li a:hover{
	color: pink;
	text-decoration: none;
}

/*footer*/

footer{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: rgba(0,0,0,0.8);
	color: white;
	margin-top: 50px;
}