.hide{
	display: none;
}

body{
	background-color: #e5e5e5;
	padding: 10px;
}

span{
	display: block;
	margin: 50px 0 50px 0;
}

/*formulario*/

form{
	margin-top: 30px;
}

label.form-peca{
	width: 120px;
	text-align: center;
}

button#ok1, button#ok2{
	width: 70px;
	background-color: orange;
}

/*tabela dinamica*/

th, td{
	width: 130px;
	text-align: center;
}

table, td, th{
	border: 1px solid #000;
}

table{
	margin-bottom: 15px;
}