
div.container-fluid{
	margin-top: 100px;
}

/*produto*/

div#oproduto h1{
	margin-top: 50px;
}

div#oproduto h6{
	margin: 25px 0 25px 0;
}

img.img-cartoes{
	max-width: 50px;
	margin-left: 2px;
}


/*galeria*/

div#galeria{
	margin-top: 50px;
	margin-bottom: 50px;
}

img.img-pixi{
	margin-top: 50px;
}

/*descricao*/

div#descricao{
	margin-top: 100px;
	margin-bottom: 100px;
}