

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(3,4,6);
}


/*imagem fundo*/
div#imagem-principal{
	background-image: url(imagens/the100.jpg);
	height: 600px;
	background-size: cover;
	background-position: center;
}

/*menu*/

div.row{
	height: 100%;
}

div#menu{
	display: flex;
	align-items: center;
	height: 100%;
}

div#menu ul{
	color: white;
	font-weight: 900;
	font-size: 20px;
	list-style: none;
}

div#menu ul li, #titulo{
	text-shadow: 1px 0px 0px black,
				-1px 0px 0px black,
				0px 1px 0px black,
				0px -1px 0px black;
}

div#menu ul li:hover{
	cursor: pointer;
	font-size: 22px;
	text-shadow: 1px 0px 0px black,
				-1px 0px 0px black,
				0px 1px 0px black,
				0px -1px 0px black;
	


}

.hide{
	display: none;
}

/*titulo*/

#titulo{
	color: white;
}

#titulo{
	cursor: pointer;
	text-shadow: 1px 0px 0px black,
				-1px 0px 0px black,
				0px 1px 0px black,
				0px -1px 0px black;
}

/*conteudo*/

div.conteudo{
	background-color: rgba(0,0,0,0.8);
	color: rgba(255,255,255,0.9);
	font-size: 14px;
	margin-top: 45px;
}

/*galeria*/

.galeria>.row img{
	width: 400px;
	height: 250px;
}