
@import url('https://fonts.googleapis.com/css?family=Lora');

div#conteudo{
	min-height: 800px;
}

/*nav*/
nav{
	text-align: center;
	margin-top: 30px;
}


nav ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

nav ul li{

	list-style: none;
	margin-right: 5px;
	
}

/*jk rowling*/

div#jkrowling{
	height: 300px;
	text-align: center;
	background-image: url(../imagens/castle.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}

div#jkrowling h1{
	padding-top: 100px;
	font-family: Lora;
	font-size: 4em;

}

div#jkrowling h1 a{
	color: white;
	font-weight: 900;
	text-shadow: 2px 2px 2px gray;
}

div#jkrowling h1 a:hover{
	color: yellow;
}

/*hp store*/

div#hpstore{
	height: 300px;
	background-image: url(../imagens/hogwarts.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	margin-bottom: 10px;
}

div#hpstore h2{
	padding-top: 20px;
	font-family: Lora;
}

div#hpstore h2 a{
	color: white;
	font-weight: 900;
	text-shadow: 2px 2px 2px gray;
	
}

div#hpstore h2 a:hover{
	color: yellow;
}


/*tour studio*/

div#tourstudio{
	height: 300px;
	background-image: url(../imagens/oxford.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

div#tourstudio h2{
	padding-top: 150px;
	font-family: Lora;
}

div#tourstudio h2 a{
	color: white;
	font-weight: 900;
	text-shadow: 2px 2px 2px gray;
	
}

div#tourstudio h2 a:hover{
	color: yellow;
}


/*sobre*/

.img-escritora{
	display: flex;
	align-content: center;
	justify-content: center;

}

div#sobre h1{
	font-family: Lora;
	text-align: center;
	text-shadow: 2px 2px 2px gray;
	margin-top: 50px;
}

#texto-sobre{
	margin-top: 50px;
}



/*livros*/

ul#lista-livros{
	list-style: none;
	max-width: 300px;
	margin: auto;
	margin-top: 50px;
	

}

ul#lista-livros li>a{
	color: black;
}

ul#lista-livros li>a:hover{
	color: white;
	text-decoration: none;
}

h2.selecionar-livro{
	padding-top: 100px;
	text-align: center;
	font-family: Lora;
	text-shadow: 2px 2px 2px gray;
}

img.img-harry{
	
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

div.imagem-livro{
	height: 350px;
}

.hide{
	display: none;
}

/*footer*/

footer{
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	color: white;
}