
.img-fluid{
	width: 100%;
}


/*sobre*/

div#sobre, div#cardapio, div#restaurantes{
	padding-top: 50px;
	padding-bottom: 50px;
}



/*menu restaurante*/


div.imagens-menu div img{
	height: 150px;
	max-width: 250px;
	
}

div.imagens-menu div h3{
	text-align: center;
	margin-top: 25px;
}

/*restaurante*/

iframe{
	margin: auto;
}

h4{
	margin-top: 50px;
	text-align: center;
}

p#endereco{
	text-align: center;
}