
/*header*/

header#img-header{
	background-image: url('imagens/foto-header.jpeg');
	background-position: center;
	background-size: cover;
	height: 400px;
}

header#img-header h1{
	
	text-align: center;
}

.img-fluid{
	width: 100%;
}


/*sobre*/

div#sobre, div#cardapio, div#restaurantes{
	padding-top: 50px;
	padding-bottom: 50px;
}



/*menu restaurante*/


div.imagens-menu div img{
	height: 150px;
	max-width: 250px;
	
}

div.imagens-menu div h3{
	text-align: center;
	margin-top: 25px;
}

/*modal*/

.modal-body img{
	width: 500px;
}


/*restaurante*/

iframe{
	margin: auto;
}

h4{
	margin-top: 50px;
	text-align: center;
}

p#endereco{
	text-align: center;
}

/*footer*/

div#footer{
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

/* MEDIA SCREEN*/

@media screen and (min-width: 250px) {
	header#img-header h1{
		padding-top: 140px;
	}
}


@media screen and (min-width: 768px) {
	iframe{
		width: 350px;
	}
}

@media screen and (min-width: 992px) {
	iframe{
		width: 450px;
	}
}