
@import url('https://fonts.googleapis.com/css?family=Vidaloka');

div#convite{
	/*background-image: url("imagens/folhas.png");*/
	/*background-repeat: no-repeat;
	background-position: right;*/
	height: auto;
	/*background-size: cover;*/
}

img.fundo-folhas{
	float: right;
	margin-top: 30px;
	margin-bottom: -150px;
}

div#convite h1{
	width: 50%;
	text-align: center;
	margin: auto;
	padding-top: 150px;
	font-family: Vidaloka, sans-serif;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	font-size: 2em;

}


div#convite h6{
	text-align: center;


}

div#convite h6 button{
	margin-top: 30px;
	margin-bottom: 50px;
}  

/*sobre*/

div#sobre{
	padding: 50px 0 50px 0;
	border-top: 1px solid green;
	background-color: green;
	color: white;
}

h2{
	text-align: center;
	font-family: Vidaloka;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

div#sobre p{
	width: 80%;
	margin: auto;
	text-align: center;
}

/*cronograma*/

div#cronograma{
	padding: 50px 0 50px 0;
	border-top: 1px solid green;

}

div#cronograma ul{
	width: 80%;
	margin: auto;
}

div#cronograma ul li span{
	font-weight: 900;
}

/*contato*/

div#contato{
	padding: 50px 0 50px 0;
	border-top: 1px solid green;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;

}

div#contato p{
	width: 80%;
	margin: auto;
	text-align: center;
	margin-bottom: 30px;
}

.form-group{
	width: 80%;
	margin: auto;
	max-width: 300px;
}

span.obrigatorio{
	color: red;

}

button.botao-contato{
	margin-top: 10px;
}

input.form-control, textarea.form-control{
	font-size: 14px;
}

/*footer*/

footer{
	text-align: center;
	padding: 20px 0 20px 0;
	width: 80%;
	margin: auto;
}

footer a{
	color: green;
}