
@import url('https://fonts.googleapis.com/css?family=Vidaloka');

div#convite{
	/*background-image: url("imagens/folhas.png");*/
	/*background-repeat: no-repeat;
	background-position: right;*/
	height: auto;
	/*background-size: cover;*/
}

img.fundo-folhas{
	float: right;
	margin-bottom: -150px;
}

div#convite h1{
	width: 50%;
	text-align: center;
	margin: auto;
	padding-top: 50px;
	font-family: Vidaloka, sans-serif;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	font-size: 2em;

}


div#convite h6{
	text-align: center;


}

div#convite h6 button{
	margin-top: 30px;
	margin-bottom: 50px;
}  

/*sobre*/

div#sobre{
	padding: 50px 0 50px 0;
	border-top: 1px solid green;
	background-color: green;
	color: white;
}

h2{
	text-align: center;
	font-family: Vidaloka;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

div#sobre p{
	width: 80%;
	margin: auto;
}

/*cronograma*/

div#cronograma{
	padding: 50px 0 50px 0;
	border-top: 1px solid green;

}

div#cronograma ul{
	width: 80%;
	margin: auto;
}