
div.container-fluid{
	margin-top: 100px;
}

/*produto*/

div#oproduto h1{
	margin-top: 50px;
}

div#oproduto h6{
	margin: 25px 0 25px 0;
}

div#oproduto h5{
	margin-top: 50px;
}

img.img-cartoes{
	max-width: 50px;
	margin-left: 2px;
}


/*galeria*/

div#galeria{
	padding-top: 50px;
	padding-bottom: 50px;
}

img.img-pixi{
	margin-top: 50px;
}

/*descricao*/

div#descricao{
	padding-top: 50px;
	padding-bottom: 50px;
}

div#descricao h5{
	margin-top: 25px;
	text-decoration: underline;
}

/*tabela de especificação*/

div#especificacao{
	padding-top: 50px;
	padding-bottom: 50px;
}

.table-hover tbody tr:hover {
    
      background-color: rgba(255,0,0,0.1);

}

/*footer*/

footer{
	text-align: center;
	padding-bottom: 25px;
	padding-top: 25px;
}

footer small a{
	color: pink;
}

